<mat-card>
  <mat-card-header><h1>Crear cuenta de postulante</h1></mat-card-header>
  <mat-card-content>
    <!-- Enlazamiento con los campos del formGroup -->
    <form class="grid" [formGroup]="userRegistrerForm">
      <mat-form-field class="col-12">
        <mat-label>Correo Electrónico</mat-label>
        <!-- Se enlazan con el formControlName a las propiedades en mi componente -->
        <input
          matInput
          type="text"
          required
          formControlName="correoelectronico"
        />
      </mat-form-field>

      <mat-form-field class="col-12">
        <mat-label>Nombre de usuario</mat-label>
        <!-- Se enlazan con el formControlName a las propiedades en mi componente -->
        <input
          matInput
          type="text"
          required
          formControlName="nickName"
        />
      </mat-form-field>

      <mat-form-field class="col-12">
        <mat-label>Contraseña</mat-label>
        <!-- Se enlazan con el formControlName a las propiedades en mi componente -->
        <input
          matInput
          type="password"
          required
          formControlName="contraseña"
        />
      </mat-form-field>

      <mat-form-field class="col-12">
        <mat-label>Nombre</mat-label>
        <input
        matInput
        required
        formControlName="nombre"
        >
      </mat-form-field>

      <mat-form-field class="col-12">
        <mat-label>Apellido</mat-label>
        <input
        type="text"
        matInput
        required
        formControlName="apellido"
        >
      </mat-form-field>

      <mat-form-field class="col-12">
        <mat-label>Edad</mat-label>
        <input
        type="number"
        matInput
        required
        formControlName="edad"
        >
      </mat-form-field>

      <mat-form-field class="col-12">
        <mat-label>Estudio realizado</mat-label>
        <input
        type="text"
        matInput
        formControlName="estudiorealizado"
        >
      </mat-form-field>

      <mat-form-field class="col-12">
        <mat-label>Descripcion personal</mat-label>
        <input
        type="text"
        matInput
        required
        formControlName="descripcionpersonal"
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Choose an option</mat-label>
        <mat-select>
          <mat-option #es value="ES" (click)="currentUserForm.opcion = es.value">Estudiante</mat-option>
          <mat-option #eg value="EG" (click)="currentUserForm.opcion = eg.value">Egresado</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-content>
    <div class="flex justify-content-between">

      <span></span>

      <button
        mat-flat-button
        color="accent"
        (click)="onRegistrer()"
      >
        <mat-icon>login</mat-icon>
        Crear cuenta
      </button>
    </div>
  </mat-card-content>
</mat-card>
