<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '250px' }">

    <mat-toolbar color="accent">
      <span>Menu</span>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item

        (click)="sidenav.toggle()"
      >
        <mat-icon matListItemIcon></mat-icon>
        <mat-label></mat-label>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar color="accent">

    <button *ngIf="false" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <button mat-icon-button [routerLink]="'/guia-vocacional/'" >
      <mat-icon>home</mat-icon>
    </button>

    <mat-label *ngIf="false" class="mr-3">Bienvenido </mat-label>

    <span class="spacer"></span>

    <button *ngIf="!isAuthenticated" mat-button [routerLink]="'/auth/login'">
      <strong>Iniciar sesion</strong>
    </button>

    <button *ngIf="!isAuthenticated" mat-button [matMenuTriggerFor]="menu">
      <strong>Crear cuenta</strong>
    </button>

    <button *ngIf="isAuthenticated" mat-button (click)="onLogout()">
      <strong>Cerrar sesion</strong>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onSelected('Empresa')">Empresa</button>
      <button mat-menu-item (click)="onSelected('Postulante')">Postulante</button>
    </mat-menu>
  </mat-toolbar>

  <div class="container p-2">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
